@import "../lib/bootstrap/css/bootstrap.min.css"; 
@import "../lib/font-awesome/css/font-awesome.min.css"; 
@import "ie10mobile.css"; 
@import "../lib/durandal/css/durandal.css"; 
@import "starterkit.css";
a{
 cursor: pointer;}

.ACDB2Spd1 {
	left: 697px;
    position: absolute;
    text-align: center;
    top: 280px;
} 
 
.PU2Class1 {
	left: 527px;
    position: absolute;
    text-align: center;
    top: 113px;
}
.PU2Class2 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 188px;
}
.PU2Trip1 {
	left: 507px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.PU2Trip2 {
	left: 290px;
    position: absolute;
    text-align: center;
    top: 230px;
}
.PU2Spd1 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 280px;
}
 
.PU2PM1_6Info{
	top: 50px;
	left: 375px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249)
}
.table-PM1_6{
	top: 45px;
	left: 610px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
}
.PM1_6 {
  width: 48px;
  height: 50px;
  float: left;
  left: 554px;
  position: absolute;
  text-align: center;
  top: 53px;
} 
 
 
.PU1Class1 {
	left: 527px;
    position: absolute;
    text-align: center;
    top: 113px;
}
.PU1Class2 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 188px;
}
.PU1Trip1 {
	left: 507px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.PU1Trip2 {
	left: 290px;
    position: absolute;
    text-align: center;
    top: 230px;
}
.PU1Spd1 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 280px;
}
 
.PU1PM1_5Info{
	top: 50px;
	left: 375px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249)
}
.table-PM1_5{
	top: 45px;
	left: 610px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
}
.PM1_5 {
  width: 48px;
  height: 50px;
  float: left;
  left: 554px;
  position: absolute;
  text-align: center;
  top: 53px;
}

.UD2Spd1 {
	left: 360px;
    position: absolute;
    text-align: center;
    top: 290px;
}
.UD1Spd1 {
	left: 335px;
    position: absolute;
    text-align: center;
    top: 290px;
}

.EM1Spd1 {
	left: 380px;
    position: absolute;
    text-align: center;
    top: 290px;
}
.EM1Spd2 {
	left: 655px;
    position: absolute;
    text-align: center;
    top: 290px;
}

.ACDB1Spd1 {
	left: 695px;
    position: absolute;
    text-align: center;
    top: 290px;
}

.DB2Class11 {
	left: 835px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Trip11 {
	left: 815px;
    position: absolute;
    text-align: center;
    top: 112px;
}

.TC1Spd1 {
	left: 805px;
    position: absolute;
    text-align: center;
    top: 300px;
}

.AT2Spd1 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 300px;
}
.AT1Spd1 {
	left: 616px;
    position: absolute;
    text-align: center;
    top: 296px;
}

.BU2Class2 {
	left: 195px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class3 {
	left: 265px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class4 {
	left: 335px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class5 {
	left: 404px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class6 {
	left: 473px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class7 {
	left: 543px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class8 {
	left: 613px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class9 {
	left: 682px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class10 {
	left: 752px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Class11 {
	left: 821px;
    position: absolute;
    text-align: center;
    top: 190px;
}
.BU2Trip2 {
	left: 177px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip3 {
	left: 247px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip4 {
	left: 315px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip5 {
	left: 385px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip6 {
	left: 455px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip7 {
	left: 520px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip8 {
	left: 589px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip9 {
	left: 660px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip10 {
	left: 730px;
    position: absolute;
    text-align: center;
    top: 235px;
}
.BU2Trip11 {
	left: 800px;
    position: absolute;
    text-align: center;
    top: 235px;
}

.BU1Class2 {
	left: 209px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class3 {
	left: 276px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class4 {
	left: 342px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class5 {
	left: 408px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class6 {
	left: 474px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class7 {
	left: 540px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class8 {
	left: 607px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class9 {
	left: 673px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class10 {
	left: 739px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Class11 {
	left: 806px;
    position: absolute;
    text-align: center;
    top: 179px;
}
.BU1Trip2 {
	left: 190px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip3 {
	left: 255px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip4 {
	left: 320px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip5 {
	left: 385px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip6 {
	left: 455px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip7 {
	left: 520px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip8 {
	left: 585px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip9 {
	left: 655px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip10 {
	left: 720px;
    position: absolute;
    text-align: center;
    top: 228px;
}
.BU1Trip11 {
	left: 785px;
    position: absolute;
    text-align: center;
    top: 228px;
}

.ACDB2Trip1 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 140px;
}
.ACDB2Trip2 {
	left: 235px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip3 {
	left: 320px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip4 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip5 {
	left: 480px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip6 {
	left: 560px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip7 {
	left: 640px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Class1 {
	left: 368px;
    position: absolute;
    text-align: center;
    top: 103px;
}
.ACDB2Class2 {
	left: 268px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class3 {
	left: 347px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class4 {
	left: 426px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class5 {
	left: 506px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class6 {
	left: 585px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class7 {
	left: 664px;
    position: absolute;
    text-align: center;
    top: 177px;
}

.DB1Trip1 {
	left: 78px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip2 {
	left: 148px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip3 {
	left: 222px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip4 {
	left: 290px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip5 {
	left: 373px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip6 {
	left: 470px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip7 {
	left: 540px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip8 {
	left: 608px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip9 {
	left: 684px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip10 {
	left: 767px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip11 {
	left: 845px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip1 {
	left: 78px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip2 {
	left: 140px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip3 {
	left: 205px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip4 {
	left: 275px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip5 {
	left: 343px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip6 {
	left: 432px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip7 {
	left: 495px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip8 {
	left: 570px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip9 {
	left: 640px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip10 {
	left: 724px;
    position: absolute;
    text-align: center;
    top: 112px;
}

.EM1Trip1 {
	left: 290px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.EM1Trip2 {
	left: 585px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.EM1Trip3 {
	left: 318px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.EM1Trip4 {
	left: 520px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.EM1Trip5 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.EM1Trip6 {
	left: 385px;
    position: absolute;
    text-align: center;
    top: 300px;
}
.EM1Trip7 {
	left: 665px;
    position: absolute;
    text-align: center;
    top: 300px;
}
.EM1Class1 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 116px;
}
.EM1Class2 {
	left: 609px;
    position: absolute;
    text-align: center;
    top: 115px;
}
.EM1Class3 {
	left: 345px;
    position: absolute;
    text-align: center;
    top: 195px;
}
.EM1Class4 {
	left: 500px;
    position: absolute;
    text-align: center;
    top: 155px;
	-webkit-transform: rotate(90deg);
}
.EM1Class5 {
	left: 618px;
    position: absolute;
    text-align: center;
    top: 195px;
}

.AC2PM1_10Info{
	top: 51px;
	left: 213px;
}
.PM1_10 {
	width: 48px;
	height: 50px;
	float: left;
	left: 394px;
	position: absolute;
	text-align: center;
	top: 50px;
}
.table-PM1_10{
	top: 45px;
	left: 460px;
}


.DB2Class1 {
	left: 96px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class2 {
	left: 159px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class3 {
	left: 224px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class4 {
	left: 292px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class5 {
	left: 362px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class6 {
	left: 450px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class7 {
	left: 515px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class8 {
	left: 587px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class9 {
	left: 659px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class10 {
	left: 745px;
    position: absolute;
    text-align: center;
    top: 67px;
}

.UD2Trip1 {
	left: 275px;
    position: absolute;
    text-align: center;
    top: 165px;
}
.UD2Trip2 {
	left: 345px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD2Trip3 {
	left: 505px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD2Trip4 {
	left: 645px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD2Trip5 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 245px;
}
.UD2Trip6 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 245px;
}
.UD2Trip7 {
	left: 492px;
    position: absolute;
    text-align: center;
    top: 245px;
}
.UD2Trip8 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 245px;
}

.UD2Class1 {
	left: 294px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class2 {
	left: 363px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class3 {
	left: 529px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class4 {
	left: 667px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class5 {
	left: 330px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2Class6 {
	left: 422px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2Class7 {
	left: 514px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2Class8 {
	left: 606px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2PM1_3Info{
	top: 63px;
	left: 218px;
}
.PM1_3 {
	width: 48px;
	height: 50px;
	float: left;
	left: 393px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_3{
	top: 118px;
	left: 387px;
}
.UD2PM1_4Info{
	top: 64px;
	left: 615px;
}
.PM1_4 {
	width: 48px;
	height: 50px;
	float: left;
	left: 560px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_4{
	top: 55px;
	left: 340px;
}


.UD1Trip1 {
	left: 238px;
    position: absolute;
    text-align: center;
    top: 165px;
}
.UD1Trip2 {
	left: 305px;
    position: absolute;
    text-align: center;
    top: 170px;
}
.UD1Trip3 {
	left: 490px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD1Trip4 {
	left: 643px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD1Trip5 {
	left: 280px;
    position: absolute;
    text-align: center;
    top: 250px;
}
.UD1Trip6 {
	left: 380px;
    position: absolute;
    text-align: center;
    top: 250px;
}
.UD1Trip7 {
	left: 480px;
    position: absolute;
    text-align: center;
    top: 250px;
}
.UD1Trip8 {
	left: 580px;
    position: absolute;
    text-align: center;
    top: 250px;
}

.UD1Class1 {
	left: 255px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD1Class2 {
	left: 324px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD1Class3 {
	left: 506px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD1Class4 {
	left: 661px;
    position: absolute;
    text-align: center;
    top: 127px;
}
.UD1Class5 {
	left: 298px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1Class6 {
	left: 398px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1Class7 {
	left: 495px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1Class8 {
	left: 595px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1PM1_1Info{
	top: 55px;
	left: 185px;
}
.PM1_1 {
	width: 48px;
	height: 50px;
	float: left;
	left: 353px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_1{
	top: 125px;
	left: 395px;
}
.UD1PM1_2Info{
	top: 64px;
	left: 588px;
}
.PM1_2 {
	width: 48px;
	height: 50px;
	float: left;
	left: 535px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_2{
	top: 125px;
	left: 310px;
}


.EM1PM1_8Info{
	top: 60px;
	left: 390px;
}
.PM1_8 {
	width: 48px;
	height: 50px;
	float: left;
	left: 336px;
	position: absolute;
	text-align: center;
	top: 62px;
}
.table-PM1_8{
	top: 55px;
	left: 105px;
}
.EM1PM1_9Info{
	top: 60px;
	left: 694px;
}
.PM1_9{
	width: 48px;
	height: 50px;
	float: left;
	left: 639px;
	position: absolute;
	text-align: center;
	top: 62px;
}
.table-PM1_9{
	top: 52px;
	left: 409px;
}


.TC1Trip1 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.TC1Trip2 {
	left: 575px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.TC1Trip3 {
	left: 180px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip4 {
	left: 260px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip5 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip6 {
	left: 425px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip7 {
	left: 505px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip8 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip9 {
	left: 665px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip10 {
	left: 750px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Class1 {
	left: 336px;
    position: absolute;
    text-align: center;
    top: 118px;
}
.TC1Class2 {
	left: 601px;
    position: absolute;
    text-align: center;
    top: 118px;
}
.TC1Class3 {
	left: 205px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class4 {
	left: 287px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class5 {
	left: 369px;
    position: absolute;
    text-align: center;
    top: 196px;
}
<<<<<<< HEAD
=======

.ACDB2Trip1 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 140px;
}
.ACDB2Trip2 {
	left: 235px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip3 {
	left: 320px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip4 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip5 {
	left: 480px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip6 {
	left: 560px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Trip7 {
	left: 640px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB2Class1 {
	left: 368px;
    position: absolute;
    text-align: center;
    top: 103px;
}
.ACDB2Class2 {
	left: 268px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class3 {
	left: 347px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class4 {
	left: 426px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class5 {
	left: 506px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class6 {
	left: 585px;
    position: absolute;
    text-align: center;
    top: 177px;
}
.ACDB2Class7 {
	left: 664px;
    position: absolute;
    text-align: center;
    top: 177px;
}

.DB1Trip1 {
	left: 78px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip2 {
	left: 148px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip3 {
	left: 222px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip4 {
	left: 290px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip5 {
	left: 366px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip6 {
	left: 476px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip7 {
	left: 550px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip8 {
	left: 640px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip9 {
	left: 725px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB1Trip10 {
	left: 820px;
    position: absolute;
    text-align: center;
    top: 112px;
}

.DB2Trip1 {
	left: 78px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip2 {
	left: 148px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip3 {
	left: 222px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip4 {
	left: 290px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip5 {
	left: 366px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip6 {
	left: 476px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip7 {
	left: 550px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip8 {
	left: 640px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip9 {
	left: 725px;
    position: absolute;
    text-align: center;
    top: 112px;
}
.DB2Trip10 {
	left: 820px;
    position: absolute;
    text-align: center;
    top: 112px;
}

.EM1Trip1 {
	left: 280px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.EM1Trip2 {
	left: 580px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.EM1Trip3 {
	left: 318px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.EM1Trip4 {
	left: 220px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.EM1Trip5 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.EM1Trip6 {
	left: 385px;
    position: absolute;
    text-align: center;
    top: 300px;
}
.EM1Trip7 {
	left: 665px;
    position: absolute;
    text-align: center;
    top: 300px;
}
.EM1Class1 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 116px;
}
.EM1Class2 {
	left: 613px;
    position: absolute;
    text-align: center;
    top: 116px;
}
.EM1Class3 {
	left: 344px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.EM1Class4 {
	left: 246px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.EM1Class5 {
	left: 621px;
    position: absolute;
    text-align: center;
    top: 199px;
}

.AC2PM1_10Info{
	top: 51px;
	left: 213px;
}
.PM1_10 {
	width: 48px;
	height: 50px;
	float: left;
	left: 394px;
	position: absolute;
	text-align: center;
	top: 50px;
}
.table-PM1_10{
	top: 45px;
	left: 460px;
}


.DB2Class1 {
	left: 96px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class2 {
	left: 170px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class3 {
	left: 244px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class4 {
	left: 318px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class5 {
	left: 391px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class6 {
	left: 507px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class7 {
	left: 581px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class8 {
	left: 671px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class9 {
	left: 761px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB2Class10 {
	left: 855px;
    position: absolute;
    text-align: center;
    top: 67px;
}

.UD2Trip1 {
	left: 275px;
    position: absolute;
    text-align: center;
    top: 165px;
}
.UD2Trip2 {
	left: 345px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD2Trip3 {
	left: 505px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD2Trip4 {
	left: 645px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD2Trip5 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 245px;
}
.UD2Trip6 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 245px;
}
.UD2Trip7 {
	left: 492px;
    position: absolute;
    text-align: center;
    top: 245px;
}
.UD2Trip8 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 245px;
}

.UD2Class1 {
	left: 300px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class2 {
	left: 368px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class3 {
	left: 534px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class4 {
	left: 672px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD2Class5 {
	left: 335px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2Class6 {
	left: 428px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2Class7 {
	left: 519px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2Class8 {
	left: 612px;
    position: absolute;
    text-align: center;
    top: 199px;
}
.UD2PM1_3Info{
	top: 63px;
	left: 218px;
}
.PM1_3 {
	width: 48px;
	height: 50px;
	float: left;
	left: 393px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_3{
	top: 118px;
	left: 387px;
}
.UD2PM1_4Info{
	top: 64px;
	left: 615px;
}
.PM1_4 {
	width: 48px;
	height: 50px;
	float: left;
	left: 560px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_4{
	top: 55px;
	left: 340px;
}


.UD1Trip1 {
	left: 250px;
    position: absolute;
    text-align: center;
    top: 165px;
}
.UD1Trip2 {
	left: 323px;
    position: absolute;
    text-align: center;
    top: 170px;
}
.UD1Trip3 {
	left: 505px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD1Trip4 {
	left: 655px;
    position: absolute;
    text-align: center;
    top: 166px;
}
.UD1Trip5 {
	left: 293px;
    position: absolute;
    text-align: center;
    top: 250px;
}
.UD1Trip6 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 250px;
}
.UD1Trip7 {
	left: 492px;
    position: absolute;
    text-align: center;
    top: 250px;
}
.UD1Trip8 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 250px;
}

.UD1Class1 {
	left: 278px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD1Class2 {
	left: 348px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD1Class3 {
	left: 530px;
    position: absolute;
    text-align: center;
    top: 126px;
}
.UD1Class4 {
	left: 686px;
    position: absolute;
    text-align: center;
    top: 127px;
}
.UD1Class5 {
	left: 322px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1Class6 {
	left: 422px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1Class7 {
	left: 521px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1Class8 {
	left: 619px;
    position: absolute;
    text-align: center;
    top: 205px;
}
.UD1PM1_1Info{
	top: 55px;
	left: 197px;
}
.PM1_1 {
	width: 48px;
	height: 50px;
	float: left;
	left: 378px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_1{
	top: 118px;
	left: 387px;
}
.UD1PM1_2Info{
	top: 64px;
	left: 615px;
}
.PM1_2 {
	width: 48px;
	height: 50px;
	float: left;
	left: 560px;
	position: absolute;
	text-align: center;
	top: 67px;
}
.table-PM1_2{
	top: 55px;
	left: 340px;
}


.EM1PM1_8Info{
	top: 60px;
	left: 390px;
}
.PM1_8 {
	width: 48px;
	height: 50px;
	float: left;
	left: 336px;
	position: absolute;
	text-align: center;
	top: 62px;
}
.table-PM1_8{
	top: 55px;
	left: 105px;
}
.EM1PM1_9Info{
	top: 60px;
	left: 694px;
}
.PM1_9{
	width: 48px;
	height: 50px;
	float: left;
	left: 639px;
	position: absolute;
	text-align: center;
	top: 62px;
}
.table-PM1_9{
	top: 52px;
	left: 409px;
}


.TC1Trip1 {
	left: 310px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.TC1Trip2 {
	left: 575px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.TC1Trip3 {
	left: 180px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip4 {
	left: 260px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip5 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip6 {
	left: 425px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip7 {
	left: 505px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip8 {
	left: 590px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip9 {
	left: 665px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Trip10 {
	left: 750px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.TC1Class1 {
	left: 336px;
    position: absolute;
    text-align: center;
    top: 118px;
}
.TC1Class2 {
	left: 601px;
    position: absolute;
    text-align: center;
    top: 118px;
}
.TC1Class3 {
	left: 205px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class4 {
	left: 287px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class5 {
	left: 369px;
    position: absolute;
    text-align: center;
    top: 196px;
}
>>>>>>> master
.TC1Class8 {
	left: 613px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class6 {
	left: 450px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class7 {
	left: 532px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class9 {
	left: 694px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1Class10 {
	left: 776px;
    position: absolute;
    text-align: center;
    top: 196px;
}
.TC1PM1_15Info{
	top: 64px;
	left: 425px;
}
.PM1_15 {
	width: 48px;
	height: 50px;
	float: left;
	left: 364px;
	position: absolute;
	text-align: center;
	top: 62px;
}
.table-PM1_15{
	top: 58px;
	left: 123px;
}

.TC1PM1_16Info{
	top: 64px;
	left: 692px;
}
.PM1_16 {
	width: 48px;
	height: 50px;
	float: left;
	left: 629px;
	position: absolute;
	text-align: center;
	top: 62px;
}
.table-PM1_16{
	top: 45px;
	left: 395px;
}

.BU2Trip1 {
	left: 490px;
    position: absolute;
    text-align: center;
    top: 155px;
}
.BU2Class1 {
	left: 516px;
    position: absolute;
    text-align: center;
    top: 114px;
}
.BU2PM1_14Info{
	top: 50px;
	left: 363px;
}
.PM1_14 {
	width: 48px;
	height: 50px;
	float: left;
	left: 555px;
	position: absolute;
	text-align: center;
	top: 55px;
}
.table-PM1_14{
	top: 45px;
	left: 603px;
}

.BU2PM1_14Info{
	top: 50px;
	left: 363px;
}
.PM1_14 {
	width: 48px;
	height: 50px;
	float: left;
	left: 555px;
	position: absolute;
	text-align: center;
	top: 55px;
}
.table-PM1_14{
	top: 45px;
	left: 603px;
}

.BU1Trip1 {
	left: 505px;
    position: absolute;
    text-align: center;
    top: 150px;
}
.BU1Class1 {
	left: 529px;
    position: absolute;
    text-align: center;
    top: 107px;
}
.BU1PM1_11Info{
	top: 50px;
	left: 375px;
}
.PM1_11 {
	width: 48px;
	height: 50px;
	float: left;
	left: 555px;
	position: absolute;
	text-align: center;
	top: 55px;
}
.table-PM1_11{
	top: 45px;
	left: 615px;
}

.AT2Trip1 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.AT2Trip2 {
	left: 570px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.AT2Trip3 {
	left: 335px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT2Trip4 {
	left: 435px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT2Trip5 {
	left: 535px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT2Trip6 {
	left: 635px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT2Class1 {
	left: 427px;
    position: absolute;
    text-align: center;
    top: 123px;
}
.AT2Class2 {
	left: 598px;
    position: absolute;
    text-align: center;
    top: 123px;
}
.AT2Class3 {
	left: 361px;
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT2Class4 {
	left: 461px;
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT2Class5 {
	left: 561px;
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT2Class6 {
	left: 661px;
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT2PM2_2Info{
	top: 60px;
	left: 685px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249)
}
.AT2PM1_13Info{
	top: 83px;
	left: 266px;
	
}
.table-PM2_2{
	top: 45px;
	left: 505px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
	z-index: 1000;
}
.PM2_2 {
  width: 48px;
  height: 50px;
  float: left;
  left: 453px;
  position: absolute;
  text-align: center;
  top: 62px;
}
.table-PM1_13{
	top: 45px;
	left: 686px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
	
}
.PM1_13 {
  width: 48px;
  height: 50px;
  float: left;
  left: 626px;
  position: absolute;
  text-align: center;
  top: 62px;
}

.AT1Trip1 {
<<<<<<< HEAD
	left: 405px;
    position: absolute;
    text-align: center;
    top: 163px;
}
.AT1Trip2 {
	left: 578px;
    position: absolute;
    text-align: center;
    top: 162px;
}
.AT1Trip3 {
	left: 358px;
    position: absolute;
    text-align: center;
    top: 239px;
}
.AT1Trip4 {
	left: 463px;
=======
	left: 400px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.AT1Trip2 {
	left: 570px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.AT1Trip3 {
	left: 360px;
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT1Trip4 {
	left: 460px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT1Trip5 {
<<<<<<< HEAD
	left: 561px;
=======
	left: 555px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT1Trip6 {
<<<<<<< HEAD
	    left: 663px;
=======
	left: 657px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 240px;
}
.AT1Class1 {
<<<<<<< HEAD
left: 426px;
    position: absolute;
    text-align: center;
    top: 122px;
}
.AT1Class2 {
	left: 597px;
    position: absolute;
    text-align: center;
    top: 122px;
}
.AT1Class3 {
	left: 384px;
=======
	left: 427px;
    position: absolute;
    text-align: center;
    top: 123px;
}
.AT1Class2 {
	left: 598px;
    position: absolute;
    text-align: center;
    top: 123px;
}
.AT1Class3 {
	left: 385px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT1Class4 {
<<<<<<< HEAD
	left: 484px;
=======
	left: 485px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT1Class5 {
<<<<<<< HEAD
	left: 584px;
=======
	left: 586px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT1Class6 {
<<<<<<< HEAD
	left: 684px;
=======
	left: 686px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 197px;
}
.AT1PM2_1Info{
<<<<<<< HEAD
	top: 90px;
    left: 254px;
}
.AT1PM1_12Info{
	top: 59px;
    left: 695px;
	
}
.table-PM2_1{
	top: 125px;
    left: 415px;
    z-index: 1000;
}
.PM2_1 {
   width: 48px;
    height: 50px;
    float: left;
    left: 452px;
    position: absolute;
    text-align: center;
    top: 66px;
}
.table-PM1_12{
	top: 132px;
    left: 458px;
    z-index: 1000;
}
.PM1_12 {
    width: 48px;
    height: 50px;
    float: left;
    left: 625px;
    position: absolute;
    text-align: center;
    top: 62px;
=======
	top: 60px;
	left: 685px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249)
}
.AT1PM1_12Info{
	top: 83px;
	left: 260px;
	
}
.table-PM2_1{
	top: 45px;
	left: 505px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
	z-index: 1000;
}
.PM2_1 {
  width: 48px;
  height: 50px;
  float: left;
  left: 453px;
  position: absolute;
  text-align: center;
  top: 62px;
}
.table-PM1_12{
	top: 45px;
	left: 686px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
	
}
.PM1_12 {
  width: 48px;
  height: 50px;
  float: left;
  left: 626px;
  position: absolute;
  text-align: center;
  top: 62px;
>>>>>>> master
}

.LV2Trip1 {
	left: 415px;
    position: absolute;
    text-align: center;
    top: 160px;
}
.LV2Class1 {
	left: 448px;
    position: absolute;
    text-align: center;
    top: 124px;
}
.LV2PM1_18Info{
	top: 50px;
	left: 297px;
}
.PM1_18 {
	width: 48px;
	height: 50px;
	float: left;
	left: 475px;
	position: absolute;
	text-align: center;
	top: 55px;
}
.table-PM1_18{
	top: 45px;
	left: 527px;
}

.LV1Trip1 {
<<<<<<< HEAD
	left: 427px;
=======
	left: 415px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 160px;
}
.LV1Class1 {
<<<<<<< HEAD
	    left: 448px;
=======
	left: 448px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 124px;
}
.LV1PM1_17Info{
<<<<<<< HEAD
    top: 47px;
    left: 533px;
}
.PM1_17 {
	//width: 48px;
	//height: 50px;
	float: left;
	left: 387px;
	position: absolute;
	text-align: center;
	top: 115px;
}
.table-PM1_17{
	top: 110px;
    left: 431px;
    z-index: 1000;
=======
	top: 50px;
	left: 297px;
}
.PM1_17 {
	width: 48px;
	height: 50px;
	float: left;
	left: 475px;
	position: absolute;
	text-align: center;
	top: 55px;
}
.table-PM1_17{
	top: 45px;
	left: 527px;
>>>>>>> master
}


.AC1PM1_7Info{
	top: 53px;
	left: 200px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249)
}
.table-PM1_7{
	top: 45px;
	left: 445px;
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
}
.PM1_7 {
  width: 48px;
  height: 50px;
  float: left;
  left: 395px;
  position: absolute;
  text-align: center;
  top: 55px;
}

.ACDB1Trip1 {
	left: 340px;
    position: absolute;
    text-align: center;
    top: 145px;
}
.ACDB1Trip2 {
	left: 230px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB1Trip3 {
	left: 320px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB1Trip4 {
	left: 400px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB1Trip5 {
	left: 480px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB1Trip6 {
	left: 560px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB1Trip7 {
	left: 640px;
    position: absolute;
    text-align: center;
    top: 222px;
}
.ACDB1Class1 {
	left: 366px;
    position: absolute;
    text-align: center;
    top: 104px;
}
.ACDB1Class2 {
	left: 264px;
    position: absolute;
    text-align: center;
    top: 182px;
}
.ACDB1Class3 {
	left: 344px;
    position: absolute;
    text-align: center;
    top: 182px;
}
.ACDB1Class4 {
	left: 425px;
    position: absolute;
    text-align: center;
    top: 182px;
}
.ACDB1Class5 {
	left: 506px;
    position: absolute;
    text-align: center;
    top: 182px;
}
.ACDB1Class6 {
	left: 587px;
    position: absolute;
    text-align: center;
    top: 182px;
}
.ACDB1Class7 {
	left: 667px;
    position: absolute;
    text-align: center;
    top: 182px;
}
.DB1Class1 {
<<<<<<< HEAD
	left: 97px;
=======
	left: 100px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class2 {
	left: 173px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class3 {
	left: 246px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class4 {
<<<<<<< HEAD
	left: 320px;
=======
	left: 319px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class5 {
<<<<<<< HEAD
	left: 395px;
=======
	left: 391px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class6 {
<<<<<<< HEAD
	left: 487px;
=======
	left: 503px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class7 {
<<<<<<< HEAD
	left: 557px;
=======
	left: 576px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class8 {
<<<<<<< HEAD
	left: 628px;
=======
	left: 664px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class9 {
<<<<<<< HEAD
	left: 704px;
=======
	left: 754px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class10 {
<<<<<<< HEAD
	left: 783px;
    position: absolute;
    text-align: center;
    top: 67px;
}
.DB1Class11 {
	left: 864px;
=======
	left: 846px;
>>>>>>> master
    position: absolute;
    text-align: center;
    top: 67px;
}
<<<<<<< HEAD
=======

>>>>>>> master
.DB1Classc1 {
	left: 125px;
    position: absolute;
    text-align: center;
    top: 260px;
	
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
}
.DB1Classc3 {
	left: 265px;
    position: absolute;
    text-align: center;
    top: 260px;
	
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
}
.DB1Classc5 {
	left: 405px;
    position: absolute;
    text-align: center;
    top: 260px;
	
	background-color: beige;
	border: 1px solid rgb(249, 249, 249);
}

.formcontrol1{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 70px;
}
.AC_ServerCtrl1 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #22475e;
    left: 330px;
    position: absolute;
    text-align: center;
    top: 190px;
    transform: rotate(58deg);
    width: 90px;
    -webkit-transform: rotate(58deg);
    -ms-transform: rotate(58deg);
    -moz-transform: rotate(58deg);
}
.AC_ServerCtrl2{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #22475e;
    left: 275px;
    position: absolute;
    top: 105px;
    transform: rotate(58deg);
    width: 90px;
    -webkit-transform: rotate(58deg);
    -ms-transform: rotate(58deg);
    -moz-transform: rotate(58deg);
}
.AC_ServerCtrl3{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #22475e;
    left: 221px;
    position: absolute;
    top: 20px;
    width: 90px;
    transform: rotate(58deg);
    -webkit-transform: rotate(58deg);
    -ms-transform: rotate(58deg);
    -moz-transform: rotate(58deg);
}
.pmlv1{
    left: 280px;
    position: absolute;
    top: 80px;
}
.tablepm{
    background: #FFF;
}
.tablepm td{
    border: solid 1px #F1F1F1;
    font-size: 11px;
}
.nameclass1 {
    left: 158px;
    position: absolute;
    text-align: center;
    top: 180px;
}
.nameclass2{
    left: 283px;
    position: absolute;
    top: 290px;
}
#jqstooltip{
    padding: 5px;
}
#placeholder {
    width: 550px;
}
.warningh {
    color: yellow;
  background-color: red;
  padding: 3px;
  font-size: 19px;
  margin: 8px 0;
}
.Environmental {
    background-color: #2d2d2d;
    border: 1px solid rgb(249, 249, 249);
    color: yellow;
    left: 155px;
    padding: 2px;
    position: absolute;
    top: 115px;
}
.Environmental1 {
    background-color: #2d2d2d;
    border: 1px solid rgb(249, 249, 249);
    color: yellow;
    left: 175px;
    padding: 2px;
    position: absolute;
    top: 130px;
}
.input-xs {
	height: 20px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.selecth {
    background-color: #beebff !important;
}
div.modal-content.messageBox div.modal-body p.message{
    max-height:200px;
    overflow:auto;
}
.icon-pdf{
    background-image: url("../images/icon/pdf-icon.png") !important;
}
.consoleh{
    max-width: 90%; border-right: 2px solid; background: #efefef;
}
#ElectricTable td {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:30px;

}
.toolbarButton .textButton .about{
display:none ;
}
.table-AlarmSummary {
	margin-bottom: 5px;	
}
.table-AlarmSummary>tbody>tr>th {
	background-color: #f5f5f5;
}
.table-AlarmSummary>tbody>tr>th, .table-AlarmSummary>tbody>tr>td {
	padding-top:2px;
	padding-bottom:2px;
}

.table-parameter {
	margin-bottom: 5px;
	font-size:12px;
	
}
.table-parameter>tbody>tr>th {
	background-color: #f5f5f5;
}
.table-parameter>tbody>tr>th, .table-parameter>tbody>tr>td {
	padding-top:2px;
	padding-bottom:2px;
	text-align: right;
}
.AlarmRedBink{
	background : AlarmRedBink-alarm 1s infinite; /* Chrome, Safari, Opera */
	animation: AlarmRedBink-alarm 1s infinite;
}
@keyframes AlarmRedBink-alarm
{
	0% {background: #fff;}
	50% {background: #ff8585;}
	100% {background: #ff0000;}
}
@-webkit-keyframes AlarmRedBink-alarm
{
	0% {background: #fff;}
	50% {background: #ff8585;}
	100% {background: #ff0000;}
}
.AlarmYellowBink{
	background : AlarmYellowBink-alarm 1s infinite; /* Chrome, Safari, Opera */
	animation: AlarmYellowBink-alarm 1s infinite;
}
@keyframes AlarmYellowBink-alarm
{
	0% {background: #fff;}
	50% {background: #fcfc93;}
	100% {background: #ffff00;}
}
@-webkit-keyframes AlarmYellowBink-alarm
{
	0% {background: #fff;}
	50% {background: #fcfc93;}
	100% {background: #ffff00;}
}
.AlarmBrownBink{
	background : AlarmBrownBink-alarm 1s infinite; /* Chrome, Safari, Opera */
	animation: AlarmBrownBink-alarm 1s infinite;
}
@keyframes AlarmBrownBink-alarm
{
	0% {background: #fff;}
	50% {background: #ffd28f;}
	100% {background: #ff9900;}
}
@-webkit-keyframes AlarmBrownBink-alarm
{
	0% {background: #fff;}
	50% {background: #ffd28f;}
	100% {background: #ff9900;}
}
.AlarmBlueBink{
	background : AlarmBlueBink-alarm 1s infinite; /* Chrome, Safari, Opera */
	animation: AlarmBlueBink-alarm 1s infinite;
}
@keyframes AlarmBlueBink-alarm
{
	0% {background: #fff;}
	50% {background: #88fbfb;}
	100% {background: #00ffff;}
}
@-webkit-keyframes AlarmBlueBink-alarm
{
	0% {background: #fff;}
	50% {background: #88fbfb;}
	100% {background: #00ffff;}
}
.AlarmRed{background : #ff0000;}
.AlarmYellow{background :#ffff00;}
.AlarmBrown{background : #ff9900;}
.AlarmBlue{background : #00ffff;}
.Coldefault{}
.btn-ack {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1;
	border-radius: 3px;
}
.form-control{
 padding:5px !important;
 height:30px !important;
}
.scroll-hover {
	overflow-y:scroll
}

.scroll-show {
	overflow-y:scroll
}

.header-0px  {
	margin-top: 0px;
}

.footer-condensed  {
	margin-bottom: 0px;
}

.footer-5px  {
	margin-bottom: 5px;
}

.panel-heading-sm {
	padding: 5px 15px;
}

.form-group-sm  {
	margin-bottom: 2px;
	line-height: 1;
}
.splash .message{
color:#22475e;
}
div.loadingnqh {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #ccc;
  border-radius: 50%;
}
#detailoading{
display:none;
	border: 1px solid #22475e;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
    width: 550px;
    max-height: 250px;
}
.navbar-inverse {
  background-color: #22475E !important;
  border-color: #22475E !important;
  border-radius: 0 !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
background-color: #167cac !important;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
	color:#FFF !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color:#C9C9CB !important;
}
#detailoading p{
	margin-bottom: 0; margin-left: 10px;
}
#loadingnqh div:nth-child(1) {
  background-color: #22475e;
  animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
}
#loadingnqh div:nth-child(2) {
  background-color: #22475e;
  animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
}
#loadingnqh div:nth-child(3) {
  background-color: #22475e;
  animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
}
#loadingnqh div:nth-child(4) {
  background-color: #22475e;
  animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
}
#loadingnqh div:nth-child(5) {
  background-color: #22475e;
  animation: move 2s 600ms infinite cubic-bezier(.2,.64,.81,.23);
}
@keyframes move {
  0% {left: 0%;}
  100% {left:100%;}
}