<div class="col-md-12">
    <!-- ko foreach: cf-->
    <!-- Page Heading -->
    <h3 class="header-0px footer-5px">
        <span data-bind="text: name">CRAC 1</span>
        <small data-bind="text: description"> CyberAir 3</small>
    </h3>
    <!-- /ko -->
    <!-- Tab -->
    <ul id="myTab" role="tablist" class="nav nav-tabs">
        <li role="presentation" class="active">
            <a data-toggle="tab" role="tab" aria-controls="Configuration" href="#Configuration" aria-expanded="false">Configuration</a></li>
        <!-- ko if: documents().length -->
        <li role="presentation" class="">
            <a data-toggle="tab" role="tab" aria-controls="Manual" href="#Manual" aria-expanded="false">Manual</a></li>
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <div id="Configuration" class="tab-pane active" role="tabpanel">
            <!-- Configuration -->
            <div style="height:515px;" class="row">
                <div style="height:515px;" class="col-md-4 scroll-show">
                    <div class="demo jstree jstree-1 jstree-default" id="jstree1">
                        <ul class="jstree-container-ul jstree-children">
                            <!-- ko foreach: channels-->
                            <li class="jstree-open">
                                <i class="jstree-icon jstree-ocl"></i>
                                <a class="jstree-anchor" href="#" data-bind="click: $root.viewdetail">
                                    <i class="jstree-icon jstree-themeicon jstree-themeicon-custom jstree-folder"></i><span
                                        data-bind="text: name"></span>
                                </a>
                                <!-- ko if: $data.sub -->
                                <ul class="jstree-children">

                                    <!-- ko template: { name: 'formElementNodeTemplate', foreach: $data.sub } -->
                                    <!-- /ko -->

                                </ul>
                                <!-- /ko -->
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-8  scroll-show" style="height:300px;">
                    <!-- ko foreach: channelSelect-->
                    <form style="font-size:12px;" class="form-horizontal">
                        <label style="margin: 0;">Channel Information</label>

                        <div class="row">
                            <div class="form-group form-group-sm col-sm-6">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">Name:</label>
                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: name" style="margin: 0;padding: 0;">V1</p></div>
                            </div>
                            <div class="form-group form-group-sm col-sm-6">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">Code :</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: code" style="margin: 0;padding: 0;">V1</p></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm col-sm-6" style="display:none">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">ID :</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: id" style="margin: 0;padding: 0;">id</p></div>
                            </div>
                            <div class="form-group form-group-sm col-sm-6" style="display:none">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">controllable :</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: controllable" style="margin: 0;padding: 0;">V1</p></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm col-sm-6">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">Type :</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: type" style="margin: 0;padding: 0;">type</p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm col-sm-6">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">Description:</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: description" style="margin: 0;padding: 0;">Line Voltage</p></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm col-sm-6">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">Unit:</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: unit" style="margin: 0;padding: 0;">V</p></div>
                            </div>
                            <div class="form-group form-group-sm col-sm-6">
                                <label class="col-sm-3 control-label" style="margin: 0;padding: 0;">Value:</label>

                                <div class="col-sm-9"><p class="form-control-static" data-bind="text: data.value()" style="margin: 0;padding: 0;">0</p></div>
                            </div>
                        </div>
                        <hr style="margin:1px"/>

                    </form>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- ko if: documents().length -->
        <div id="Manual" class="tab-pane" role="tabpanel">
            <!-- Manual -->
            <div style="height:515px;" class="row">
                <div class="col-md-3">
                    <div class="row" style="display: none">
                        <div class="bs-glyphicons">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="demo jstree jstree-1 jstree-default" id="jstree1"
                             style="height:515px;; overflow: auto;border: 1px solid #CCCCCC;">
                            <ul class="jstree-container-ul jstree-children">
                                <!-- ko template: { name: 'ElementNodeTemplate', foreach: documents} -->
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- ko foreach: document-->
                    <iframe src="" width='100%' height='515' data-bind="attr: { src: 'ViewerJS/#../File/' + path }" allowfullscreen webkitallowfullscreen></iframe>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
<script id="formElementNodeTemplate" type="text/html">
    <!-- ko if: $data.sub -->
    <li class="jstree-node jstree-open">
        <i class="jstree-icon jstree-ocl"></i>
        <a class="jstree-anchor" href="#" data-bind="click: $root.viewdetail">
            <i class="jstree-icon jstree-themeicon"></i><span data-bind="text: name"></span>
        </a>
        <ul class="jstree-children">

            <!-- ko template: { name: 'formElementNodeTemplate', foreach: $data.sub } -->
            <!-- /ko -->

        </ul>
    </li>
    <!-- /ko -->
    <!-- ko if: !$data.sub -->
    <li class="jstree-node  jstree-leaf" data-bind="css:$root.idc()? $root.idc() == code? ' selecth' : '' : ''">
        <i class="jstree-icon jstree-ocl"></i>
        <a class="jstree-anchor" href="#" data-bind="click: $root.viewdetail">
            <i class="fa" data-bind="css:$root.alarmicon($data)"></i>
            <span data-bind="text: name"></span>
        </a>
    </li>
    <!-- /ko -->
</script>
<script id="ElementNodeTemplate" type="text/html">
    <!-- ko if: $data.sub -->
    <li class="jstree-node jstree-open">
        <i class="jstree-icon jstree-ocl"></i>
        <a class="jstree-anchor" href="#" data-bind="click: $root.viewdocument">
            <i class="jstree-icon jstree-themeicon jstree-themeicon-custom" role="presentation"
               data-bind="css:icon"></i>
            <span data-bind="text: name"></span>
        </a>
        <ul class="jstree-children">

            <!-- ko template: { name: 'ElementNodeTemplate', foreach: $data.sub } -->
            <!-- /ko -->

        </ul>
    </li>
    <!-- /ko -->
    <!-- ko if: !$data.sub -->
    <li class="jstree-node  jstree-leaf">
        <i class="jstree-icon jstree-ocl"></i>
        <a class="jstree-anchor" href="#" data-bind="click: $root.viewdocument">
            <i class="jstree-icon jstree-themeicon jstree-themeicon-custom" role="presentation"
               data-bind="css:icon"></i>
            <span data-bind="text: name"></span>
        </a>
    </li>
    <!-- /ko -->
</script>