<style>
    .bolderr {
        border-right: 1px solid #000000;
    }

    .bolderb {
        border-bottom: 1px solid #000000;
    }

    .backgroundth {
        background: #92D050;
        text-align: center;
    }

    .report {
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        height: 27px;
    }

    .centerr {
        text-align: center;
    }

    .leftr {
        text-align: left;
    }

    .rightr {
        text-align: right;
    }

    .bgred {
        color: red;
    }
</style>
<table cellspacing="0" border="0">
    <colgroup width="65"></colgroup>
    <colgroup width="262"></colgroup>
    <colgroup width="140"></colgroup>
    <colgroup width="108"></colgroup>
    <colgroup width="241"></colgroup>
    <colgroup width="330"></colgroup>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="44" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">STT</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">Thông tin chung</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">Đơn vị</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">Có điện lưới</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">Phương án 1 </font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="84" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">TH Có điện lưới 24/24</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">PA1: P/a vận hành như sau: Chạy MFĐ từ 10h đêm đến 6h
            sáng.Tổng cộng chạy 8h cấp điện cho (UPS+ REC+ ĐHCX)</font></td>
        <td style="border-left: 1px solid #000000" align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><b><font
                face="Times New Roman" size=3 color="#000000">A</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><b><font
                face="Times New Roman" size=3 color="#000000">Thông tin chung</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-left: 1px solid #000000" align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="2" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                          color="#000000">2</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Tỉ lệ
            công suất tải phòng máy:</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000"><br></font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Tải
            DC</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">%</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0.4" sdnum="1033;0;0%"><font face="Times New Roman"
                                                                                               size=3 color="#000000">40%</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0.4" sdnum="1033;0;0%"><font face="Times New Roman"
                                                                                               size=3 color="#000000">40%</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Tải
            UPS</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">%</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0.2" sdnum="1033;0;0%"><font face="Times New Roman"
                                                                                               size=3 color="#000000">20%</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0.2" sdnum="1033;0;0%"><font face="Times New Roman"
                                                                                               size=3 color="#000000">20%</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Tải
            ĐHCX</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">%</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0.4" sdnum="1033;0;0%"><font face="Times New Roman"
                                                                                               size=3 color="#000000">40%</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0.4" sdnum="1033;0;0%"><font face="Times New Roman"
                                                                                               size=3 color="#000000">40%</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="3" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                          color="#000000">3</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Máy phát
            điện làm việc trung bình</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">h/
            ngày</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="8" sdnum="1033;0;#,##0"><font face="Times New Roman"
                                                                                                size=3
                                                                                                color="#000000">8</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="4" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                          color="#000000">4</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Giá dầu
            diesel</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">USD/l</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="1.3" sdnum="1033;0;#,##0.0"><font
                face="Times New Roman" size=3 color="#000000">1.3</font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="5" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                          color="#000000">5</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Giá
            điện</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0.0"><font face="Times New Roman" size=3
                                                                                        color="#000000"><br></font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">0-200
            kWh / tháng</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">FBU</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="93" sdnum="1033;0;#,##0.0"><font
                face="Times New Roman" size=3 color="#000000">93.0</font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">201 -
            500 kWh/ tháng</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">FBU</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="149" sdnum="1033;0;#,##0.0"><font
                face="Times New Roman" size=3 color="#000000">149.0</font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">&gt; 500
            kWh/ tháng</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">FBU</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="190" sdnum="1033;0;#,##0.0"><font
                face="Times New Roman" size=3 color="#000000">190.0</font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><b><font
                face="Times New Roman" size=3 color="#000000">A</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><b><font
                face="Times New Roman" size=3 color="#000000">Thông tin chung</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="1" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                          color="#000000">1</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><b><font
                face="Times New Roman" size=3 color="#000000">Phân tích tiêu thụ năng lượng của TTr</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="1.1" sdnum="1033;"><font face="Times New Roman" size=3
                                                                                     color="#000000">1.1</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Tổng
            công suất tiêu thụ điện của phòng máy</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000">kVA</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="496.5" sdnum="1033;0;#,##0.0"><font
                face="Times New Roman" size=3 color="#000000">496.5</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0.0"><font face="Times New Roman"
                                                                                                  size=3
                                                                                                  color="#000000">0.0</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle sdval="1.2" sdnum="1033;"><font face="Times New Roman" size=3
                                                                                     color="#000000">1.2</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle bgcolor="#B9CDE5" sdnum="1033;0;#,##0"><b><font face="Times New Roman" size=3
                                                                                       color="#000000">Tổng kWh
            cần/ngày</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#B9CDE5" sdnum="1033;0;#,##0"><b><font face="Times New Roman" size=3
                                                                                         color="#000000">kWh/ngày</font></b>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#B9CDE5" sdval="11916" sdnum="1033;0;#,##0.0"><b><font
                face="Times New Roman" size=3 color="#000000">11,916.0</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#B9CDE5" sdval="0" sdnum="1033;0;#,##0.0"><b><font
                face="Times New Roman" size=3 color="#000000">0.0</font></b></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="29" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Số kWH
            điện lưới cung cấp được /ngày:</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">kWh/ngày</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="11916" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">11,916</font></i></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">0</font></i></b></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">+</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Cho
            ĐHCX</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">kWh/ngày</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="4766.4" sdnum="1033;0;#,##0"><font
                face="Times New Roman" size=3 color="#000000">4,766</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><font face="Times New Roman"
                                                                                                size=3
                                                                                                color="#000000">0</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">+</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Cho UPS
            + DC</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">kWh/ngày</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="7149.6" sdnum="1033;0;#,##0"><font
                face="Times New Roman" size=3 color="#000000">7,150</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><font face="Times New Roman"
                                                                                                size=3
                                                                                                color="#000000">0</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="21" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle bgcolor="#8EB4E3" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                    color="#000000">Số kWH MFĐ phải cung
            cấp /ngày:</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#8EB4E3" sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                                      color="#000000">kWh/ngày</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#8EB4E3" sdval="0" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">0</font></i></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#8EB4E3" sdval="0" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">0</font></i></b></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="42" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">-</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">Số kWH
            ắc quy (UPS+ REC) phải cung cấp /ngày:</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3
                                                                    color="#000000"><br></font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">0</font></i></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">0</font></i></b></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="91" align="center" valign=middle sdval="1.3" sdnum="1033;"><font face="Times New Roman" size=3
                                                                                     color="#000000">1.3</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000">Số kWh tiêu thụ điện cần để nạp bổ sung cho ắc quy (UPS+
            REC)/ ngày</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=3 color="#000000">kWh/ngày</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><font face="Times New Roman"
                                                                                                size=3
                                                                                                color="#000000">0</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;#,##0"><font face="Times New Roman"
                                                                                                size=3
                                                                                                color="#000000">0</font>
        </td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            height="42" align="center" valign=middle sdval="1.4" sdnum="1033;"><font face="Times New Roman" size=3
                                                                                     color="#000000">1.4</font></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="left" valign=middle bgcolor="#8EB4E3" sdnum="1033;0;#,##0"><b><i><font face="Times New Roman" size=3
                                                                                          color="#000000">Số kWH điện
            lưới phải cung cấp được /ngày:</font></i></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#8EB4E3" sdnum="1033;0;#,##0"><b><i><font face="Times New Roman"
                                                                                            size=3 color="#000000">kWh/ngày</font></i></b>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#8EB4E3" sdval="11916" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">11,916</font></i></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
            align="center" valign=middle bgcolor="#8EB4E3" sdval="0" sdnum="1033;0;#,##0"><b><i><font
                face="Times New Roman" size=3 color="#000000">0</font></i></b></td>
        <td style="border-left: 1px solid #000000" align="center" valign=middle
            sdnum="1033;0;_([$€-2]* #,##0.00_);_([$€-2]* (#,##0.00);_([$€-2]* &quot;-&quot;??_)"><font
                face="Times New Roman" size=3 color="#000000"><br></font></td>
    </tr>
</table>

