<div class="panel panel-default footer-5px">
    <div class="panel-heading panel-heading-sm">Alarm Summary</div>
    <div class="panel-body" style="font-size:12px; padding-top:5px">
        <form class="form-inline footer-5px" style="display:none">
            <div class="form-group pull-left">
                <div class="form-group">
                    <label for="datetimepicker1">From</label>
                    <input id='datetimepicker1' type="text" class="form-control input-xs"/>
                </div>
                <div class="form-group">
                    <label for="datetimepicker2">To</label>
                    <input id='datetimepicker2' type="text" class="form-control input-xs"/>
                </div>
            </div>
            <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <button type="button" class="btn btn-primary " data-bind="click: $root.FilterAlarmLast7days">Last 7
                    days
                </button>
                <button type="button" class="btn btn-primary " data-bind="click: $root.FilterAlarmYesterday">Yesterday
                </button>
                <button type="button" class="btn btn-primary " data-bind="click: $root.FilterAlarmToday">Today</button>
            </div>
            <div class="clearfix"></div>
        </form>
        <table class="table table-AlarmSummary  table-hover">
            <head>
                <tr>
                    <th>Description</th>
                    <th width="130">Alarm Time</th>
                    <th width="130">Reset Time</th>
                    <th width="130">Ack Time</th>
                    <th width="100">Status</th>
                    <th width="100">Priority</th>
                    <th width="75">Ack</th>
                </tr>
            </head>
        </table>
        <div class="scroll-hover" data-bind="style: {height: heighth ? '80px': '500px'}">
            <table class="table table-AlarmSummary  table-hover">
                <tbody style="">
                <!-- ko foreach: cf-->
                <tr class="" data-bind="css: $root.colorAlarm($data)">
                    <td data-bind="html: $root.channelname(channelID(),msg())"></td>
                    <td width="130"
                        data-bind="text: alarmAt() ? $root.Moment(alarmAt()).format('DD/MM/YYYY hh:mm:ss') : '--/--/-- --:--:--'"></td>
                    <td width="130"
                        data-bind="text: resetAt() ? $root.Moment(resetAt()).format('DD/MM/YYYY hh:mm:ss') : '--/--/-- --:--:--'"></td>
                    <td width="130"
                        data-bind="text: acknowledgeAt() ? $root.Moment(acknowledgeAt()).format('DD/MM/YYYY hh:mm:ss') : '--/--/-- --:--:--'"></td>
                    <td width="100" data-bind="text: status() ? status() : '---'"></td>
                    <td width="100" data-bind="text: type() ? type() : '---'"></td>
                    <td width="60">
                        <button type="button" class="btn btn-ack btn-warning" data-bind="click: $root.AlarmAck">Ack
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>