<div class="panel panel-default footer-5px">
    <div class="panel-heading panel-heading-sm">Alarm Summary</div>
    <div class="panel-body" style="font-size:12px; padding-top:5px">
        <table class="table table-AlarmSummary  table-hover">
            <head>
                <tr>
                    <th>Channel Name</th>
                    <th width="130">Alarm Time</th>
                    <th width="130">Reset Time</th>
                    <th width="130">Ack Time</th>
                    <th width="100">Status</th>
                    <th width="100">Priority</th>
                    <th width="75">Ack</th>
                </tr>
            </head>
        </table>
        <div class="scroll-hover" style="height:80px">
            <table class="table table-AlarmSummary  table-hover">
                <tbody style="">
                <!-- ko foreach: cf-->
                <tr class="" data-bind="css: status === 'inactive'?'text-success':'text-danger'">
                    <td data-bind="text: $root.channelname(channelID)"></td>
                    <td width="130"
                        data-bind="text: alarmAt ? $root.Moment(alarmAt).format('DD/MM/YYYY hh:mm:ss') : '--/--/-- --:--:--'"></td>
                    <td width="130"
                        data-bind="text: resetAt ? $root.Moment(resetAt).format('DD/MM/YYYY hh:mm:ss') : '--/--/-- --:--:--'"></td>
                    <td width="130"
                        data-bind="text: acknowledgeAt ? $root.Moment(acknowledgeAt).format('DD/MM/YYYY hh:mm:ss') : '--/--/-- --:--:--'"></td>
                    <td width="100" data-bind="text: status ? status : '---'"></td>
                    <td width="100" data-bind="text: type ? type : '---'"></td>
                    <td width="60">
                        <button type="button" class="btn btn-ack btn-warning" data-bind="click: $root.AlarmAck">Ack
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>