<div class="panel panel-default">
    <!-- ko foreach: cf-->
    <div>
    <canvas id="demo" width="300" height="140" data-bind="gauges:progress"></canvas>
    </div>
    <div style="max-height:400px;overflow:auto">
        <table id="ElectricTable" class="table table-condensed">
            <tbody>
                <!-- ko foreach: channels-->
                <tr data-bind="foreach: $data">
                    <!-- ko if: $data-->
                    <td>
                        <span class="pull-left"><i class="fa fa-check-circle" data-bind="myStatus: status"></i> <a data-bind="text: name,click: $root.viewdetail" href="#"> LV-1</a></span>
                        <span class="pull-right small text-muted" data-bind="text: value1.value()+'&nbsp;'+value1.unit">22 kVA</span>
                        <div class="clearfix"></div>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: !$data-->
                    <td>&nbsp;</td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <a data-bind="click: $root.viewdetail">
        <div class="panel-footer">
            <span class="pull-left">Single Line Diagram</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
    <!-- /ko -->
</div>