<div>
<!-- ko foreach: dataComponent-->
    <!-- Page Heading -->
    <h3 class="header-0px footer-5px">
        <span data-bind="text: name">CRAC 1</span>
        (<small data-bind="text: description"> CyberAir 3</small>)
    </h3>
    <div style=" height: 521px;" class="row">
        <div style="padding-top: 20px; padding-left: 50px; height: 520px;" class="col-md-12">
            <img style="max-width:90%;max-height:90%;" src="images.png" data-bind="attr: {src:images}">
        </div>
              
    </div>
    <!-- /ko -->
</div>