
<div class="panel panel-default">
    <!-- ko foreach: cf-->
    <div class="panel-heading">
        <h3 class="panel-title"><i class="" data-bind="css: icon"></i><span data-bind="text: name"></span></h3>
    </div>
    <div class="list-group">
        <!-- ko foreach: channels-->
        <a class="list-group-item"  data-bind="click: $root.viewdetail">
            <div class="row">
                <div class="col-lg-4"><i class="fa fa-check-circle" data-bind="myStatus: status"></i> &nbsp;<span data-bind="text: name">name</span></div>
                <div class="col-lg-5 small text-muted"><span data-bind="text: value1.value()+'&nbsp;'+value1.unit"> 22 kVA</span>,&nbsp;<span data-bind="text: value2.value()+'&nbsp;'+value2.unit"> 200 min</span></div>
                <div class="col-lg-3">
                    <div class="progress footer-condensed" style="margin-bottom:0;">
                        <div data-bind="style: {width: progress.value()+'%',color: '#333'},attr: {'aria-valuenow': progress.value()},text: progress.value()+'%'" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success progress-bar-striped "><span>50</span>%</div>
                    </div>
                </div>
            </div>
        </a>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>

<div class="panel panel-default">
    <div class="list-group">
        <!-- ko foreach: warningSystem-->
        <a class="list-group-item" href="#" data-bind="click: $root.view">    <!-- HSSD -->
            <label class="col-sm-4" data-bind="text: name">HSSD</label>
            <!-- ko foreach: element-->
                <span class="" data-bind="css: status?'text-success':'text-danger'">
            <i class="" data-bind="css: icon"></i>
            <!-- ko if: value--><span data-bind="text: value.value+'&nbsp;'+ unit"></span><!-- /ko -->
            <span data-bind="text: name">Fire</span></span>
            <!-- /ko -->
        </a>
        <!-- /ko -->
    </div>
</div> 