<div class="demo jstree jstree-1 jstree-default" id="jstree1" style="min-width: 400px; height: 550px;">
    <!-- ko foreach: dataComponent-->
    <ul class="jstree-container-ul jstree-children">
        <li class="jstree-open">
            <i class="jstree-icon jstree-ocl"></i>
            <a class="jstree-anchor" href="#" data-bind="click: $root.viewdetail">
                <i class="jstree-icon jstree-themeicon"></i><span data-bind="text: name"></span>
            </a>
            <!-- ko if: $data.sub -->
            <ul class="jstree-children">
               
                <!-- ko template: { name: 'formElementNodeTemplate', foreach: $data.sub } -->
                <!-- /ko -->
                
            </ul>
            <!-- /ko -->
        </li>
    </ul>
    <!-- /ko -->
<script id="formElementNodeTemplate" type="text/html">
    <!-- ko if: $data.sub -->
    <li class="jstree-node jstree-open">
        <i class="jstree-icon jstree-ocl"></i>
        <a class="jstree-anchor" href="#" data-bind="click: $root.viewdetail">
            <i class="jstree-icon jstree-themeicon"></i><span data-bind="text: name"></span>
        </a>
        <ul class="jstree-children">

            <!-- ko template: { name: 'formElementNodeTemplate', foreach: $data.sub } -->
            <!-- /ko -->

        </ul>
    </li>
    <!-- /ko -->
    <!-- ko if: !$data.sub -->
    <li class="jstree-node  jstree-leaf">
        <i class="jstree-icon jstree-ocl"></i>
        <a class="jstree-anchor" href="#" data-bind="click: $root.viewdetail">
            <i class="jstree-icon jstree-themeicon"></i><span data-bind="text: name"></span>
        </a>
    </li>
    <!-- /ko -->
</script>