<div class="panel panel-default">
    <!-- ko foreach: cf-->
    <div style="display:none">
        <canvas id="demo" width="300" height="140" data-bind="gauges:progress"></canvas>
    </div>
    <div style="clear:both"></div>
    <!-- ko if: name-->
    <div class="panel-heading">
        <h3 class="panel-title" data-bind="click: $root.viewdetail" style="cursor: pointer;"><i class=""
                                                                                                data-bind="css: icon"></i>
            <span data-bind="text: name"></span></h3>
    </div>
    <!-- /ko -->
    <div style="max-height:400px;overflow:auto">
        <table id="ElectricTable" class="table table-condensed">
            <tbody>
            <!-- ko foreach: channels-->
            <tr data-bind="foreach: $data">
                <!-- ko if: $data-->
                <td>
                    <span class="pull-left"><i class="fa fa-check-circle" data-bind="myStatus: status"></i> <a
                            data-bind="text: name,click: $root.viewdetail" href="#"> LV-1</a></span>
                    <span class="pull-right small text-muted" data-bind="text: value1.value()+'&nbsp;'+value1.unit">22 kVA</span>

                    <div class="clearfix"></div>
                </td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->
            </tbody>
        </table>
    </div>
    <a data-bind="click: $root.viewdetail" style="display:none">
        <div class="panel-footer">
            <span class="pull-left">Single Line Diagram</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

            <div class="clearfix"></div>
        </div>
    </a>
    <!-- /ko -->
</div>