<div class="row">
    <div class="form-group" style="margin-bottom:0px">
        <label>Time from</label>
        <input type='text' class="" data-bind="datetimepicker: fromTime" style="padding: 0px 5px 0px;"/>
        <label>to</label>
        <input type='text' class="" data-bind="datetimepicker: toTime" style="padding: 0px 5px 0px;"/>
    </div>
    <div style="padding: 10px;height: 550px; overflow: auto; width: 98%;border:1px solid #CCC">
        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;background:#D9D9D9;border-collapse:collapse;border:none" >
            <tbody>
            <tr>
                <td><p>IV.7 Bảng dữ liệu và đồ thị xu hướng của dữ liệu bất kỳ</p></td>
                <td><p>(Mẫu 7)</p></td>
            </tr>
            </tbody>
        </table>
        <p style="margin-bottom:3.0pt;" >1.Dữ liệu báo cáo: <span data-bind="text:fromTime().format('DD/MM/YYYY');">dd/mm/yyyy</span> ÷ <span  data-bind="text:toTime().format('DD/MM/YYYY');">dd/mm/yyyy</span><span>(monthly report)</span></p>
        <p style="margin-bottom:3.0pt;">2.Hệ Thống: <span data-bind="text:object">PM-710</span>.</p>
        <p style="margin-bottom:3.0pt;">3.Đối Tượng: <span data-bind="text:object">PM-710</span>.</p>
        <p style="margin-bottom:3.0pt;">4.Dữ liệu: <span data-bind="text:object">PM-710</span>.</p>
        <p style="margin-bottom:3.0pt;display:none;">5.Tần suất lấy mẫu (sec): <span data-bind="text:frequency">1</span> ÷ 10</p>
        <p style="margin-bottom:3.0pt;">6.Định danh thiết bị: <span data-bind="text:unit">tủ xyz</span>.</p>
        <p style="margin-bottom:3.0pt;">7.Dữ liệu kỹ thuật chi tiết:</p>
        <table cellspacing="0" cellpadding="0" border="1" style=" width: 100%;border-collapse:collapse;border:none" >
            <tbody>
            <tr>
                <td>Time stamp</td>
                <td><p>Unit</p></td>
                <td><p>Value</p></td>
            </tr>
            <tr>
                <td><p data-bind="text:fromTime().format('DD/MM/YYYY HH:MM:ss');">dd/mm/yy hh:mm:ss</p></td>
                <td><p>A</p></td>
                <td><p><span data-bind="text:Currentl1">###,###.#</span></p></td>
            </tr>
            </tbody>
        </table>
        <p align="center"><img src="/images/template/image001.png"></p>
        <p align="center" style="margin-bottom:3.0pt;text-align:center">------------------------------End report ------------------------------</p>
        <p style="margin-bottom:3.0pt;text-align:justify">&nbsp;</p>
    </div>
</div>